/data/in/*.csv

/data/out/*.json
!data/out/lookup.json
!data/out/year_Sector_Name-treemap.json
!data/out/Name-no-ids.json
!data/out/Province-no-ids.json
!data/out/Sector-no-ids.json

webflow-export.zip

node_modules

pythonenv

.cache
dist
